.alertContainer {
    display: none;
    grid-template-columns: 2rem 1fr 1.5rem;
    min-height: 40px;
    align-items: center;
    padding: 0 1rem;
    margin: auto;
    border-radius: 6px;
    position: absolute;
    top: 8rem;
    right: -100%;
    opacity: 0;
}

/* MAKE ALER VISIBLE */
.alertContainer.visible {
    right: 5rem;
    display: grid;
    animation: play 1s;
    opacity: 1;
    transition: opacity 3s;
}


/* ALERT SUCCESS START */
.alertContainer.alert-success {
    border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12156862745098039);
    box-shadow: 0px 0px 2px #259c08;
    color: #0ad406;
    transition: 0.5s;
    cursor: pointer;

}

.alert-success:hover {
    background-color: rgba(7, 149, 66, 0.35);
    transition: 0.5s;
}

/* ALERT SUCCESS END */

/* ALERT INFO START */
.alertContainer.alert-info {
    border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12156862745098039);
    box-shadow: 0px 0px 2px #0396ff;
    color: #0396ff;
    transition: 0.5s;
    cursor: pointer;
}

.alert-info:hover {
    background-color: rgba(7, 73, 149, 0.35);
    transition: 0.5s;
}

/* ALERT INFO END */

/* ALERT ERROR DANGER START */
.alertContainer.alert-danger {
    border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    transition: 0.5s;
    cursor: pointer;
}

.alert-danger:hover {
    background-color: rgba(220, 17, 1, 0.33);
    transition: 0.5s;
}

/* ALERT DANGER DANGER END */

/* ALERT WARNING START */
.alertContainer.alert-warning {
    border: 1px solid rgba(241, 142, 6, 0.81);
    background-color: rgba(220, 128, 1, 0.16);
    box-shadow: 0px 0px 2px #ffb103;
    color: #ffb103;
    transition: 0.5s;
    cursor: pointer;
}

.alert-warning:hover {
    background-color: rgba(220, 128, 1, 0.33);
    transition: 0.5s;
}

/* ALERT WARNING END */



.alertContainer:before {
    content: "";
    position: absolute;
    width: 0;
    height: calc(100% - 44px);
    border-left: 1px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 20px;
}

.icon-animation {
    -webkit-animation: blink-1 2s infinite both;
    animation: blink-1 2s infinite both;
}

.alert-text
{
    padding: 0 1rem;
}
  /**
   * ----------------------------------------
   * animation blink-1
   * ----------------------------------------
   */
@-webkit-keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}


/* Media queries */
@media only screen and (max-width: 600px) {
    .alertContainer
    {
        min-width: 80%;
    }
  }
  
  @media only screen and (min-width: 601px) {
    .alertContainer
    {
        min-width: 40%;
    }
  }
  
  